* {
margin: 0;
padding: 0;
}

body {
background: #333 url("images/back.gif") repeat;
text-align: center;
font: normal 11px/18px verdana, arial, tahoma, sans-serif;
color: #333;
padding-top: 40px;
}

a {
color: #666;
text-decoration: none;
}

a:visited {
text-decoration: underline;
}

a:hover {
color: #f00;
}

#header {
/* header.jpg weight */
width: 1000px;
/* brower height */
height: 350px; /* Nawa guest house header box element  */
background: #000 url("images/header.jpg") no-repeat;
background-position: top center;
}

#wrapper {
/* inside border weight */
width: 1000px;
background: #fff url("images/sidebar.gif") repeat-y;
background-position: 0 0;
border: solid 16px #fff;
margin: 0 auto;
text-align: left;
background-color: #333;
color: white;
}

h1 {
width: 140px;
height: 30px;
background-color: #333;
margin: 1px 1px 1px 0;
float: left;
font: bold 18px/30px arial, verdana, tahoma, sans-serif;
padding-left: 10px;
color: #fff;
cursor: default;
}

h1:first-letter {
/* color: #ccc; grey */
color: #f00;  
text-decoration: underline;
}

h2 {
width: 990px;
/* Home, NawaGuestHouse, black line */
height: 30px;
background-color: #333;
/* Home, NawaGuestHouse, black line, center */
float: center;
font: bold 18px/30px arial, verdana, tahoma, sans-serif;
padding-left: 10px;
color: #fff;
margin-top: 1px;
cursor: default;
}

.large {
font-size: 19px;
}

.empty {
font-size: 17px;
}

table {
/* display: none */ /* this will take out the whole table */
border:none;
}

table-cell {
display: none;
}

table-column {
display: none;
}

/* table, table-cell, table-column */

.main { 
text-indent: 60px; 
font-size: 19px; 
} 

.pre {
float: left;
width: 400px;
margin: 40px 0 0 10px;
white-space: pre; 
}

.pre-line { 
white-space: pre-line; 
} 
.prewrap { 
white-space: prewrap; 
} 

h1.main { 
text-indent: 40px; 
font-size: 25px; 
}


#nav {
list-style: none;
z-index: 2;
border-right: 1px solid #fff;
/* center height link border */
height: 198px;
/* center width link border */
width: 150px;
}

#nav li a {
color: #fff;
font: normal 17px/29px verdana, arial, tahoma, sans-serif;
display: block;
width: 140px;
height: 32px; /* link box element inc, dec height */
background-color: #000;
border-bottom: 1px solid #fff;
padding-left: 10px;
text-decoration: none;
/* Tabs section border */
}

#nav li a:hover {
background-color: #333;
/* nav will hover red in color */
color: #f00;
}

#current a {
background-image: url("images/bullet.gif");
background-repeat: no-repeat;
background-position: 100% 50%;
}

#sidebar {
width: 132px; /* sidebar inc, dec right */
background-color: #ccc;
float: left;
position: relative;
left: -4px;
margin-left: -147px; /* sidebar inc, dec left */
border-top: 1px solid #fff;
font: normal 10px/18px verdana, arial, tahoma, sans-serif;
padding: 8px; /* sidebar inc, dec both-ends */
}

img {
border: none;
}

a img {
display: block;
/* this will increase the page block down, increase-down */ 
margin-bottom: 620px; /* sidebar Dec, Inc bottom */
border: 1px solid #fff;
}

a:hover img {
border-color: #f00;
}

#content {
float: left;
width: 800px;
/* margin: 30px 0 0 10px; is the correct text content alignment */
margin: 30px 0 0 10px;
font-size: 20px;
}

.comic-table {
/* white-space pre set the text in the content as typed*/
white-space: pre;
}

p {
margin-bottom: 20px;
}

p:first-line {
font-weight: bold;
}

#footer {
clear: both;
width: 500px;
/* margin-top
   margin-right
   margin-bottom
   margin-left */
margin-left: 163px; /* footer move left */
margin-bottom: -4px; /* footer move down */
font-size: 13px; 
}
